<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>POST TITLE</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Comment" matTextareaAutosize matAutosizeMinRows="2"
              matAutosizeMaxRows="20"></textarea>
  </mat-form-field>
  <mat-card-actions>
    <div class="button-row">
      <button mat-button>
        <mat-icon>mode_comment</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
