<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ post?.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ post?.description }}</p>
  </mat-card-content>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Comment" matTextareaAutosize matAutosizeMinRows="2"
              matAutosizeMaxRows="20" [(ngModel)]="comment"></textarea>
  </mat-form-field>
  <mat-card-actions>
    <div class="button-row">
      <button mat-button (click)="onComment()">
        <mat-icon>mode_comment</mat-icon>
      </button>
    </div>
  </mat-card-actions>
  <div id="comments-container">
  </div>
</mat-card>
