.example-card {
  max-width: 400px;
  margin: 50px auto;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.comment {
  font-size: 12px;
  margin: 5px 0;
}
